[Unit]
Description=sqlite-queue connected to nhi db

[Service]
Type=simple
Restart=always
ExecStart=sqlite-queue ${HOME}/.nhi/db

[Install]
WantedBy=default.target
